<% layout('layouts/boilerplate') %>

<body>
  <div class="row">
    <div class="col-8 offset-1">
      <br /><br />
      <h1>Edit Listing</h1>
      <form
        method="POST"
        action="/listings/<%=editData._id%>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="Listing[title]"
            required
            class="form-control"
            id="title"
            value="<%=editData.title%>"
          />
          <div class="invalid-feedback">Please enter valid title</div>
          <br />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="Listing[description]"
            name="Listing[description]"
            required
            class="form-control"
            id="description"
          >
<%=editData.description%></textarea
          >
          <div class="invalid-feedback">Please enter valid description</div>
          <br />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input
            type="file"
            name="Listing[image]"
            class="form-control"
            id="image"
          />
          <div class="invalid-feedback">Please enter Image URL</div>
          <br />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              value="<%=editData.price%>"
              name="Listing[price]"
              required
              class="form-control"
              id="price"
            />
            <div class="invalid-feedback">Please enter valid price</div>
            <br />
          </div>
          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              value="<%=editData.location%>"
              name="Listing[location]"
              required
              class="form-control"
              id="location"
            />
            <div class="invalid-feedback">Please enter valid location</div>
            <br />
          </div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            value="<%=editData.country%>"
            name="Listing[country]"
            required
            class="form-control"
            id="country"
          />
          <div class="invalid-feedback">Please enter valid country</div>
          <br />
        </div>
        <button class="btn btn-dark mb-3">Edit</button>
      </form>
    </div>
  </div>
</body>
